body {
  margin: 0;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.names {
  display: flex;
  justify-content: space-around;
  color: rgb(44, 153, 153);
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: 30px;
}

.choosen {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
}

.players {
  border: 3px solid rgb(255, 161, 161);
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.select {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50px;
}

.icon {
  height: 100px;
}

.rsp {
  margin: 0 10px 0 10px;
  height: 120px;
  background-color: #bdeff1;
  border: rgb(255, 161, 161) 2px;
  border-radius: 5px;
}

#selectedImage {
  width: 300px;
  height: 300px;
}

.result {
  margin-top: 50px;
  display: grid;
  justify-content: center;
  color: rgb(255, 161, 161);
  font-size: 100px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
